@use '../../styles/theme.scss' as theme;

.hero{
    background-color: theme.$backgroung;
    height: 100vh;
    width: 100%;
    padding: 5rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;

    &__title {
        color: theme.$headline;
        font-size: theme.$headlineSize;
    }
    &__paragraph {
        color: theme.$paragraph;
        font-size: theme.$mediumSize;
        text-align: center;
        width: 500px;
        margin-bottom: 1rem;
    }
    &__info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        border-radius: theme.$borderButton;
        border: 2px solid #228B22;
        font-size: theme.$paragraphSize;
        font-weight: bold;
        background-color: #7FFFD4;
        color: #228B22;
        padding: 0.05rem 1rem;
        margin-top: 0.7rem;
    }
}
.blurred {
    position: fixed;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(4px);
    opacity: 0.5;
    z-index: 10;
}