/* hero */
    /* Element */
    $backgroung : #232946;
    $headline : #fffffe;
    $paragraph : #b8c1ec;
    $button : #eebbc3;
    $button-text : #232946;

    /* Illustration */
    $stroke : #121629;
    $main : #b8c1ec;
    $highlight : #eebbc3;
    $secondary : #fffffe;
    $tertiary : #eebbc3;

    /* Sizing */
    $headlineSize : 42px;
    $mediumSize : 24px;
    $paragraphSize : 16px;

    /* Border */
    $borderSearch : 12px;
/* hero */