/* hero */
    /* Element */
    $backgroung : #232946;
    $headline : #fffffe;
    $paragraph : #b8c1ec;
    $button : #eebbc3;
    $button-text : #232946;

    /* Illustration */
    $stroke : #121629;
    $main : #b8c1ec;
    $highlight : #eebbc3;
    $secondary : #fffffe;
    $tertiary : #eebbc3;

    /* Sizing */
    $headlineSize : 42px;
    $mediumSize : 24px;
    $smallSize : 18px;
    $paragraphSize : 16px;

    /* Border */
    $borderSearch : 12px;
    $borderButton : 8px;
    $borderCard : 5px;
/* hero */
/*--------------------------*/
/* page */
    /* Element */
    $backgroungPage : #d4d8f0;
    $headlinePage : #232946;
    $subHeadlinePage : #232946;
    $paragraphPage : #b8c1ec;
    $cardBackground : #fffffe;
    $cardHeadline : #232946;
    $cardParagraph : #232946;
/* page */