@use './theme.scss';
@use '../pages/Home/home.scss';
@use '../components/SearchBar/searchBar.scss';
@use '../components/FilterSearchBar/filterSearchBar.scss';
@use '../pages/Skills/skills.scss';
@use '../components/Layout/Header/header.scss';
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.6;
    overflow: hidden;
    background-color: theme.$backgroung; 
}
html {
    scroll-behavior: smooth;
}