@use './theme.scss' as theme;
@use '../pages/Home/home.scss';
@use '../components/SearchBar/searchBar.scss';
@use '../components/FilterSearchBar/filterSearchBar.scss';
@use '../pages/Skills/skills.scss';
@use '../components/Layout/Header/header.scss';
@use '../pages/Projets/projets.scss';
@use '../components/Card/card.scss';
@use '../components/GameCard/gameCard.scss';
@use '../pages/Contact/contact.scss';
@use '../components/Button/button.scss';
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.6;
    background-color: theme.$backgroung; 
}
html {
    scroll-behavior: smooth;
}
.page {
    background-color: theme.$backgroungPage;
    min-height: 100vh;
    padding-top: 6rem;
    padding-bottom: 8rem;
}