@use '../../../styles/theme.scss' as theme;

.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 2rem;
    z-index: 14;

    &__arrow {
        color: black;
        cursor: pointer;
    }
    &__nav {
        display: flex;
        flex-direction: row;
        gap: 10px;
        background-color: theme.$button;
        border-radius: theme.$borderButton;
        padding: 0.3rem 0.5rem;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 0.5rem;
            background-color: theme.$button;
            color: theme.$button-text;
            border-radius: theme.$borderButton;
            font-weight: 600;
            height: 35px;
            text-decoration: none;
            color: inherit;
            transition: all 0.2s;

            &:hover {
                filter: brightness(0.8);
            }
        }
    }
}