@use '../../styles/theme.scss' as theme;

.search {
    height: 50px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    position: relative;
    z-index: 12;

    @media (max-width: 767px) {
        display: none;
    }

    &__input {
        all: unset;
        background-color: white;
        font-weight: 400;
        font-size: theme.$mediumSize;
        width: 500px;
        height: 100%;
        padding: 0 1rem;
        border-radius: theme.$borderSearch 0 0 theme.$borderSearch;
        color: black;
    }
    &__button{
        all: unset;
        color: theme.$button-text;
        height: 100%;
        width: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: theme.$button;
        border-radius: 0 theme.$borderSearch theme.$borderSearch 0;
    }
}