@use '../../styles/theme.scss' as theme;

.skills {
    max-width: 1240px;
    margin: auto;
    padding: 0 2rem;

    @media (max-width: 767px) {
        padding: 0 1rem;
    }

    &__title {
        color: theme.$headlinePage;
        font-size: theme.$headlineSize;
        text-align: center;

        @media (max-width: 767px) {
            text-align: left;
            line-height: 0.9;
            margin-bottom: 1rem;
        }
    }
    &__subtitle {
        font-size: theme.$smallSize;
        color: theme.$subHeadlinePage;
        padding-bottom: 5rem;
        text-align: center;
        width: 60%;
        margin: auto;

        @media (max-width: 767px) {
            text-align: left;
            width: 100%;
            padding-bottom: 2rem;
        }
    }
    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        justify-items: center; 
        align-items: center; 
        row-gap: 3rem;
        max-width: 1080px;
        margin: auto;

        @media (min-width: 768px) and (max-width: 1000px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 767px) {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
}